form{
	
	width: 620px;
	margin: auto;
	display: block;
	position: relative;
	
}

/*
Total width is actually 620px due to padding
*/
.group{
	
	width: 600px;
	padding: 10px;
	background-color: #a6a6a6;
	border-radius: 5px;
	text-align: center;
	display: block;
	position: relative;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	
}

.group:hover{
	
	background-Color: #b3b3b3;
	cursor: pointer;
	
}

.group_label{

	font-size: 18px;
	
}

.dropdown_button{
	
	display: inline-block;
	position: absolute;
	left: 600px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);

	
	
}

.dropdown_button i{
	
	position: relative;
	font-size: 14px;
	padding: auto;
		


}

.expand_container{
	
	width: 616px;
	background-color: #DDD;
	position: relative;
	display:none;
	margin: 0 2px 0 2px;
	
}

.menu_bar{
	
	padding: 0;
	list-style-type: none;
	
}

.menu_bar li{

	list-style-type:none;
	
}

.class_checkbox[type=checkbox]{
	
	display: none;
	
}

.checkbox_label{

	display: inline-block;
	text-align: center;
	width: 100%;
	font-size: 14px;
	padding: 15px 0 15px 0;
	background-color: #bfbfbf;
	
}

.checkbox_label:hover{
	
	background-color: #cccccc;
	
}

.class_checkbox:checked + .checkbox_label{
	
	background-color: grey; 
	color: white;
	
}

.submit_button{
	
	margin: auto;
	display: block;
	
}